
/*el body : : before es para el borroso de la imagen que se utilizará */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  background-image: url("/imagenes/foto_patita.png"); 
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}
