{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil Veterinario</title>
    <link rel="stylesheet" href="{% static 'veterinarios.css' %}">
    <script src="{% static 'javascript/menu.js' %}"></script>
    
</head>
<body>
    <div id="menu-toggle" onclick="toggleMenu()">
         ☰ 
        </div>

    <nav id="sidebar">
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'veterinario' %}">Mi perfil</a></li>
        <li><a href="*">Pacientes</a></li>
        <li><a href="*">Cerrar sesión</a></li>
    </ul>
</nav>

</body>
</html>
